<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/CSSFiles/MyStyles.css")" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title - MYE030 ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="my-backround">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-blue">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Main", new { area = "" }, new { @class = "nav-link" })</li>
        @*<li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                    <li>
                        <a href="@Url.Action("Index", "Main" , new { name="John" , contact="calgary, vancouver" })">
                            <span></span>
                        </a>
                    </li>
                    @*<li>
                        <a href="@Url.Action("GetChartDetails", "Chart" , new { name="Johna" , contact="calgarya, vancouvera" })">
                            <span></span>
                        </a>
                    </li>*@                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application By George Mitsis A.M.4258</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/content/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
